<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Learner's_Academy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>login.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassnewServlet</display-name>
    <servlet-name>ClassnewServlet</servlet-name>
    <servlet-class>classAdd.ClassnewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassnewServlet</servlet-name>
    <url-pattern>/ClassnewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddButtonServlet</display-name>
    <servlet-name>AddButtonServlet</servlet-name>
    <servlet-class>classAdd.AddButtonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddButtonServlet</servlet-name>
    <url-pattern>/AddButtonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClass</display-name>
    <servlet-name>DeleteClass</servlet-name>
    <servlet-class>classAdd.DeleteClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClass</servlet-name>
    <url-pattern>/DeleteClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClassServlet</display-name>
    <servlet-name>DeleteClassServlet</servlet-name>
    <servlet-class>classDelete.DeleteClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClassServlet</servlet-name>
    <url-pattern>/DeleteClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>classEditServlet</display-name>
    <servlet-name>classEditServlet</servlet-name>
    <servlet-class>classEdit.classEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>classEditServlet</servlet-name>
    <url-pattern>/classEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassNewServlet</display-name>
    <servlet-name>ClassNewServlet</servlet-name>
    <servlet-class>classEdit.ClassNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassNewServlet</servlet-name>
    <url-pattern>/ClassNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassServlet</display-name>
    <servlet-name>ClassServlet</servlet-name>
    <servlet-class>classAdd.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassServlet</servlet-name>
    <url-pattern>/ClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectTeachersAddServlet</display-name>
    <servlet-name>SubjectTeachersAddServlet</servlet-name>
    <servlet-class>subjectTeachersAdd.SubjectTeachersAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectTeachersAddServlet</servlet-name>
    <url-pattern>/SubjectTeachersAddServlet</url-pattern>
  </servlet-mapping>
</web-app>