<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Learners_Academy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassnewServlet</display-name>
    <servlet-name>ClassnewServlet</servlet-name>
    <servlet-class>classAdd.ClassnewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassnewServlet</servlet-name>
    <url-pattern>/ClassnewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClassServlet</display-name>
    <servlet-name>DeleteClassServlet</servlet-name>
    <servlet-class>classDelete.DeleteClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClassServlet</servlet-name>
    <url-pattern>/DeleteClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>classEditServlet</display-name>
    <servlet-name>classEditServlet</servlet-name>
    <servlet-class>classEdit.classEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>classEditServlet</servlet-name>
    <url-pattern>/classEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>logout.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherAddServlet</display-name>
    <servlet-name>TeacherAddServlet</servlet-name>
    <servlet-class>teacherAdd.TeacherAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherAddServlet</servlet-name>
    <url-pattern>/TeacherAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherEditServlet</display-name>
    <servlet-name>TeacherEditServlet</servlet-name>
    <servlet-class>teacherEdit.TeacherEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherEditServlet</servlet-name>
    <url-pattern>/TeacherEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherDeleteServlet</display-name>
    <servlet-name>TeacherDeleteServlet</servlet-name>
    <servlet-class>teacherDelete.TeacherDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherDeleteServlet</servlet-name>
    <url-pattern>/TeacherDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentEditServlet</display-name>
    <servlet-name>StudentEditServlet</servlet-name>
    <servlet-class>studentEdit.StudentEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentEditServlet</servlet-name>
    <url-pattern>/StudentEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDeleteServlet</display-name>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <servlet-class>studentDelete.StudentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <url-pattern>/StudentDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectTeachers</display-name>
    <servlet-name>SubjectTeachers</servlet-name>
    <servlet-class>DAO.SubjectTeachers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectTeachers</servlet-name>
    <url-pattern>/SubjectTeachers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectEditServlet</display-name>
    <servlet-name>SubjectEditServlet</servlet-name>
    <servlet-class>subjectEdit.SubjectEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectEditServlet</servlet-name>
    <url-pattern>/SubjectEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectTeacherEditServlet</display-name>
    <servlet-name>SubjectTeacherEditServlet</servlet-name>
    <servlet-class>subjectTeacherEdit.SubjectTeacherEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectTeacherEditServlet</servlet-name>
    <url-pattern>/SubjectTeacherEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectDeleteServlet</display-name>
    <servlet-name>SubjectDeleteServlet</servlet-name>
    <servlet-class>subjectDelete.SubjectDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectDeleteServlet</servlet-name>
    <url-pattern>/SubjectDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectTeacherDeleteServlet</display-name>
    <servlet-name>SubjectTeacherDeleteServlet</servlet-name>
    <servlet-class>subjectTeacherDelete.SubjectTeacherDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectTeacherDeleteServlet</servlet-name>
    <url-pattern>/SubjectTeacherDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>